In [1]:
# import Libraries
import pandas as pd
import numpy as np
import os

In [3]:
# Get working directory
current_dir=os.getcwd()

# Go one directory up to root directory
project_root_dir=os.path.dirname(current_dir)

# Define paths to the data folders
data_dir=os.path.join(project_root_dir,'data')
raw_dir=os.path.join(data_dir,'raw')
processed_dir=os.path.join(data_dir,'processed')

# Define paths to results folders
result_dir=os.path.join(project_root_dir,'results')

# Define paths to Docs folder
docs_dir=os.path.join(project_root_dir,'docs')

# Create a directories if they do not exists

os.makedirs(raw_dir,exist_ok=True)
os.makedirs(processed_dir,exist_ok=True)
os.makedirs(result_dir,exist_ok=True)
os.makedirs(docs_dir,exist_ok=True)

In [5]:
DatabankWide_file=os.path.join(raw_dir,"DatabankWide.xlsx")
df = pd.read_excel(DatabankWide_file)
df.head()

,Country name,Country code,Year,Adult populaiton,Region,Income group,Account (% age 15+),Financial institution account (% age 15+),First financial institution account ever was opened to receive a wage payment or money from the government (% age 15+),First financial institution account ever was opened to receive a wage payment (% age 15+),...,"Used a mobile phone or the internet to access an account, young (% ages 15-24)","Used a mobile phone or the internet to access an account, older (% age 25+)","Used a mobile phone or the internet to access an account, primary education or less (% ages 15+)","Used a mobile phone or the internet to access an account, secondary education or more (% ages 15+)","Used a mobile phone or the internet to access an account, income, poorest 40% (% ages 15+)","Used a mobile phone or the internet to access an account, income, richest 60% (% ages 15+)","Used a mobile phone or the internet to access an account, rural (% age 15+)","Used a mobile phone or the internet to access an account, urban (% age 15+)","Used a mobile phone or the internet to access an account, out of labor force (% age 15+)","Used a mobile phone or the internet to access an account, in labor force (% age 15+)"
0,Afghanistan,AFG,2011,15124473.00,South Asia,Low income,0.090050,0.090050,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,2014,17300802.00,South Asia,Low income,0.099610,0.099610,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,2017,19718214.00,South Asia,Low income,0.148933,0.145471,NaN,NaN,...,0.0,0.01469,0.003958,0.02265,0.003607,0.01282,NaN,NaN,0.000548,0.017173
3,Afghanistan,AFG,2021,22647496.00,South Asia,Low income,0.096538,0.096538,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Albania,ALB,2011,2258899.75,Europe & Central Asia (excluding high income),Upper middle income,0.282681,0.282681,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Display missing values per column
print("Missing values per column:")
df.isnull().sum()

Missing values per column:

Country name                                                                                    0
Country code                                                                                    0
Year                                                                                            0
Adult populaiton                                                                                8
Region                                                                                         63
                                                                                             ...
Used a mobile phone or the internet to access an account, income, richest 60% (% ages 15+)    491
Used a mobile phone or the internet to access an account, rural (% age 15+)                   658
Used a mobile phone or the internet to access an account, urban (% age 15+)                   658
Used a mobile phone or the internet to access an account, out of labor force (% age 15+)      491
Used a mobile phone or the internet to access an account, in labor force (% age 15+)          491
Length: 1232, dtype: int64

In [11]:
df.columns

Index(['Country name', 'Country code', 'Year', 'Adult populaiton', 'Region',
       'Income group', 'Account (% age 15+)',
       'Financial institution account (% age 15+)',
       'First financial institution account ever was opened to receive a wage payment or money from the government (% age 15+)',
       'First financial institution account ever was opened to receive a wage payment (% age 15+)',
       ...
       'Used a mobile phone or the internet to access an account, young (% ages 15-24)',
       'Used a mobile phone or the internet to access an account, older (% age 25+)',
       'Used a mobile phone or the internet to access an account, primary education or less (% ages 15+)',
       'Used a mobile phone or the internet to access an account, secondary education or more (% ages 15+)',
       'Used a mobile phone or the internet to access an account, income, poorest 40% (% ages 15+)',
       'Used a mobile phone or the internet to access an account, income, richest 60% (% ages 15+)',
       'Used a mobile phone or the internet to access an account, rural (% age 15+)',
       'Used a mobile phone or the internet to access an account, urban (% age 15+)',
       'Used a mobile phone or the internet to access an account, out of labor force (% age 15+)',
       'Used a mobile phone or the internet to access an account, in labor force (% age 15+)'],
      dtype='object', length=1232)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 658 entries, 0 to 657
Columns: 1232 entries, Country name to Used a mobile phone or the internet to access an account, in labor force (% age 15+)
dtypes: float64(1227), int64(1), object(4)
memory usage: 6.2+ MB

In [17]:
df.shape

(658, 1232)

In [23]:
df.nunique()

Country name                                                                                  184
Country code                                                                                  184
Year                                                                                            5
Adult populaiton                                                                              650
Region                                                                                          7
                                                                                             ...
Used a mobile phone or the internet to access an account, income, richest 60% (% ages 15+)    166
Used a mobile phone or the internet to access an account, rural (% age 15+)                     0
Used a mobile phone or the internet to access an account, urban (% age 15+)                     0
Used a mobile phone or the internet to access an account, out of labor force (% age 15+)      166
Used a mobile phone or the internet to access an account, in labor force (% age 15+)          166
Length: 1232, dtype: int64