In [4]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv("C:/Users/user/OneDrive/Desktop/All Files/All work project/data-financial-inclusion-and-digital-payment-adoption/data/processed/world data.csv")

In [10]:
df

,Country name,Country code,Year,Adult Population,Region,Income group,Indicator,Indicator value
0,Afghanistan,AFG,2011,15124473.00,South Asia,Low income,Account (% age 15+),9.01%
1,Afghanistan,AFG,2014,17300802.00,South Asia,Low income,Account (% age 15+),9.96%
2,Afghanistan,AFG,2017,19718214.00,South Asia,Low income,Account (% age 15+),14.89%
3,Afghanistan,AFG,2021,22647496.00,South Asia,Low income,Account (% age 15+),9.65%
4,Albania,ALB,2011,2258899.75,Europe & Central Asia,Upper middle income,Account (% age 15+),28.27%
...,...,...,...,...,...,...,...,...
677420,Zambia,ZMB,2021,10291819.00,Sub-Saharan Africa,Lower middle income,Used a mobile phone or the internet to access ...,nan%
677421,Zimbabwe,ZWE,2011,7414228.00,Sub-Saharan Africa,Lower middle income,Used a mobile phone or the internet to access ...,nan%
677422,Zimbabwe,ZWE,2014,7712326.00,Sub-Saharan Africa,Lower middle income,Used a mobile phone or the internet to access ...,nan%
677423,Zimbabwe,ZWE,2017,8044282.00,Sub-Saharan Africa,Lower middle income,Used a mobile phone or the internet to access ...,48.87%
677424,Zimbabwe,ZWE,2021,8633711.00,Sub-Saharan Africa,Lower middle income,Used a mobile phone or the internet to access ...,nan%

In [12]:
barrier_keywords = (
    "barrier|reason for not having an account|no account|"
    "lack of money|too expensive|too far|family member has|"
    "lack of documentation|lack of trust|religious|no need|not useful|"
    "do not trust financial institutions"
)

# Filter only rows where the 'Indicator' contains barrier-related keywords
df_barriers = df[df["Indicator"].str.contains(barrier_keywords, case=False, regex=True)].copy()

# Optional: preview the result
print(df_barriers["Indicator"].unique())  # To see what barrier indicators are included
print(df_barriers.head())

['No account because financial institutions are too far away (% age 15+)'
 'No account because financial institutions are too far away (% without an account, age 15+)'
 'No account because financial services are too expensive (% age 15+)'
 'No account because financial services are too expensive (% without an account, age 15+)'
 'No account because of insufficient funds (% age 15+)'
 'No account because of insufficient funds (% without an account, age 15+)'
 'No account because of a lack of necessary documentation (% age 15+)'
 'No account because of a lack of necessary documentation (% without an account, age 15+)'
 'No account because of a lack of trust in financial institutions (% age 15+)'
 'No account because of a lack of trust in financial institutions (% without an account, age 15+)'
 'No account because of religious reasons (% age 15+)'
 'No account because of religious reasons (% without an account, age 15+)'
 'No account because someone in the family has one (% age 15+)'
 'No account because someone in the family has one (% without an account, age 15+)'
 'Reason for not having a mobile money account: mobile money agents are too far away (% age 15+)'
 'Reason for not having a mobile money account: mobile money agents are too far away (% without an account, age 15+)'
 'Reason for not having a mobile money account: available mobile money products are too expensive (% age 15+)'
 'Reason for not having a mobile money account: available mobile money products are too expensive (% without an account, age 15+)'
 'Reason for not using their inactive account: bank or financial institution is too far away (% age 15+)'
 'Reason for not using their inactive account: bank or financial institution is too far away (% with an inactive account, age 15+)'
 'Reason for not using their inactive account: no need for an account (% age 15+)'
 'Reason for not using their inactive account: no need for an account (% with an inactive account, age 15+)']
      Country name Country code  Year  Adult Population  \
18802  Afghanistan          AFG  2011       15124473.00
18803  Afghanistan          AFG  2014       17300802.00
18804  Afghanistan          AFG  2017       19718214.00
18805  Afghanistan          AFG  2021       22647496.00
18806      Albania          ALB  2011        2258899.75

                      Region         Income group  \
18802             South Asia           Low income
18803             South Asia           Low income
18804             South Asia           Low income
18805             South Asia           Low income
18806  Europe & Central Asia  Upper middle income

                                               Indicator Indicator value
18802  No account because financial institutions are ...            nan%
18803  No account because financial institutions are ...            nan%
18804  No account because financial institutions are ...            nan%
18805  No account because financial institutions are ...          37.73%
18806  No account because financial institutions are ...            nan%

In [16]:
# Further filter for Rwanda only
df_rwanda_barriers = df_barriers[df_barriers["Country name"] == "Rwanda"]

In [18]:
df_rwanda_barriers

,Country name,Country code,Year,Adult Population,Region,Income group,Indicator,Indicator value
19230,Rwanda,RWA,2011,5869061.0,Sub-Saharan Africa,Low income,No account because financial institutions are ...,nan%
19231,Rwanda,RWA,2014,6379524.0,Sub-Saharan Africa,Low income,No account because financial institutions are ...,nan%
19232,Rwanda,RWA,2017,6963509.0,Sub-Saharan Africa,Low income,No account because financial institutions are ...,nan%
19783,Rwanda,RWA,2011,5869061.0,Sub-Saharan Africa,Low income,No account because financial institutions are ...,nan%
19784,Rwanda,RWA,2014,6379524.0,Sub-Saharan Africa,Low income,No account because financial institutions are ...,nan%
...,...,...,...,...,...,...,...,...
132043,Rwanda,RWA,2014,6379524.0,Sub-Saharan Africa,Low income,Reason for not using their inactive account: n...,nan%
132044,Rwanda,RWA,2017,6963509.0,Sub-Saharan Africa,Low income,Reason for not using their inactive account: n...,nan%
132595,Rwanda,RWA,2011,5869061.0,Sub-Saharan Africa,Low income,Reason for not using their inactive account: n...,nan%
132596,Rwanda,RWA,2014,6379524.0,Sub-Saharan Africa,Low income,Reason for not using their inactive account: n...,nan%
132597,Rwanda,RWA,2017,6963509.0,Sub-Saharan Africa,Low income,Reason for not using their inactive account: n...,nan%

In [22]:
unique_barriers = df_rwanda_barriers["Indicator"].unique()

In [24]:
unique_barriers

array(['No account because financial institutions are too far away (% age 15+)',
       'No account because financial institutions are too far away (% without an account, age 15+)',
       'No account because financial services are too expensive (% age 15+)',
       'No account because financial services are too expensive (% without an account, age 15+)',
       'No account because of insufficient funds (% age 15+)',
       'No account because of insufficient funds (% without an account, age 15+)',
       'No account because of a lack of necessary documentation (% age 15+)',
       'No account because of a lack of necessary documentation (% without an account, age 15+)',
       'No account because of a lack of trust in financial institutions (% age 15+)',
       'No account because of a lack of trust in financial institutions (% without an account, age 15+)',
       'No account because of religious reasons (% age 15+)',
       'No account because of religious reasons (% without an account, age 15+)',
       'No account because someone in the family has one (% age 15+)',
       'No account because someone in the family has one (% without an account, age 15+)',
       'Reason for not having a mobile money account: mobile money agents are too far away (% age 15+)',
       'Reason for not having a mobile money account: mobile money agents are too far away (% without an account, age 15+)',
       'Reason for not having a mobile money account: available mobile money products are too expensive (% age 15+)',
       'Reason for not having a mobile money account: available mobile money products are too expensive (% without an account, age 15+)',
       'Reason for not using their inactive account: bank or financial institution is too far away (% age 15+)',
       'Reason for not using their inactive account: bank or financial institution is too far away (% with an inactive account, age 15+)',
       'Reason for not using their inactive account: no need for an account (% age 15+)',
       'Reason for not using their inactive account: no need for an account (% with an inactive account, age 15+)'],
      dtype=object)